<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cfw.biz.sys.dao.SysModuledefMapper" >
  <resultMap id="BaseResultMap" type="org.cfw.biz.sys.model.SysModuledef" >
    <id column="MODULEID" property="moduleid" jdbcType="VARCHAR" />
    <result column="SYSTEMID" property="systemid" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="MASK" property="mask" jdbcType="DECIMAL" />
    <result column="IPGROUPID" property="ipgroupid" jdbcType="DECIMAL" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="PARENTMODULEID" property="parentmoduleid" jdbcType="VARCHAR" />
    <result column="SORTNO" property="sortno" jdbcType="DECIMAL" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MODULEID, SYSTEMID, NAME, MASK, IPGROUPID, URL, PARENTMODULEID, SORTNO, ICON, NOTE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.cfw.biz.sys.model.SysModuledefExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CFW.SYS_MODULEDEF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CFW.SYS_MODULEDEF
    where MODULEID = #{moduleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CFW.SYS_MODULEDEF
    where MODULEID = #{moduleid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.cfw.biz.sys.model.SysModuledefExample" >
    delete from CFW.SYS_MODULEDEF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.cfw.biz.sys.model.SysModuledef" >
    insert into CFW.SYS_MODULEDEF (MODULEID, SYSTEMID, NAME, 
      MASK, IPGROUPID, URL, 
      PARENTMODULEID, SORTNO, ICON, 
      NOTE)
    values (#{moduleid,jdbcType=VARCHAR}, #{systemid,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
      #{mask,jdbcType=DECIMAL}, #{ipgroupid,jdbcType=DECIMAL}, #{url,jdbcType=VARCHAR}, 
      #{parentmoduleid,jdbcType=VARCHAR}, #{sortno,jdbcType=DECIMAL}, #{icon,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.cfw.biz.sys.model.SysModuledef" >
    insert into CFW.SYS_MODULEDEF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleid != null" >
        MODULEID,
      </if>
      <if test="systemid != null" >
        SYSTEMID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="mask != null" >
        MASK,
      </if>
      <if test="ipgroupid != null" >
        IPGROUPID,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="parentmoduleid != null" >
        PARENTMODULEID,
      </if>
      <if test="sortno != null" >
        SORTNO,
      </if>
      <if test="icon != null" >
        ICON,
      </if>
      <if test="note != null" >
        NOTE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleid != null" >
        #{moduleid,jdbcType=VARCHAR},
      </if>
      <if test="systemid != null" >
        #{systemid,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mask != null" >
        #{mask,jdbcType=DECIMAL},
      </if>
      <if test="ipgroupid != null" >
        #{ipgroupid,jdbcType=DECIMAL},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentmoduleid != null" >
        #{parentmoduleid,jdbcType=VARCHAR},
      </if>
      <if test="sortno != null" >
        #{sortno,jdbcType=DECIMAL},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.cfw.biz.sys.model.SysModuledefExample" resultType="java.lang.Integer" >
    select count(*) from CFW.SYS_MODULEDEF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CFW.SYS_MODULEDEF
    <set >
      <if test="record.moduleid != null" >
        MODULEID = #{record.moduleid,jdbcType=VARCHAR},
      </if>
      <if test="record.systemid != null" >
        SYSTEMID = #{record.systemid,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.mask != null" >
        MASK = #{record.mask,jdbcType=DECIMAL},
      </if>
      <if test="record.ipgroupid != null" >
        IPGROUPID = #{record.ipgroupid,jdbcType=DECIMAL},
      </if>
      <if test="record.url != null" >
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.parentmoduleid != null" >
        PARENTMODULEID = #{record.parentmoduleid,jdbcType=VARCHAR},
      </if>
      <if test="record.sortno != null" >
        SORTNO = #{record.sortno,jdbcType=DECIMAL},
      </if>
      <if test="record.icon != null" >
        ICON = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        NOTE = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CFW.SYS_MODULEDEF
    set MODULEID = #{record.moduleid,jdbcType=VARCHAR},
      SYSTEMID = #{record.systemid,jdbcType=DECIMAL},
      NAME = #{record.name,jdbcType=VARCHAR},
      MASK = #{record.mask,jdbcType=DECIMAL},
      IPGROUPID = #{record.ipgroupid,jdbcType=DECIMAL},
      URL = #{record.url,jdbcType=VARCHAR},
      PARENTMODULEID = #{record.parentmoduleid,jdbcType=VARCHAR},
      SORTNO = #{record.sortno,jdbcType=DECIMAL},
      ICON = #{record.icon,jdbcType=VARCHAR},
      NOTE = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.cfw.biz.sys.model.SysModuledef" >
    update CFW.SYS_MODULEDEF
    <set >
      <if test="systemid != null" >
        SYSTEMID = #{systemid,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mask != null" >
        MASK = #{mask,jdbcType=DECIMAL},
      </if>
      <if test="ipgroupid != null" >
        IPGROUPID = #{ipgroupid,jdbcType=DECIMAL},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentmoduleid != null" >
        PARENTMODULEID = #{parentmoduleid,jdbcType=VARCHAR},
      </if>
      <if test="sortno != null" >
        SORTNO = #{sortno,jdbcType=DECIMAL},
      </if>
      <if test="icon != null" >
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where MODULEID = #{moduleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.cfw.biz.sys.model.SysModuledef" >
    update CFW.SYS_MODULEDEF
    set SYSTEMID = #{systemid,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      MASK = #{mask,jdbcType=DECIMAL},
      IPGROUPID = #{ipgroupid,jdbcType=DECIMAL},
      URL = #{url,jdbcType=VARCHAR},
      PARENTMODULEID = #{parentmoduleid,jdbcType=VARCHAR},
      SORTNO = #{sortno,jdbcType=DECIMAL},
      ICON = #{icon,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR}
    where MODULEID = #{moduleid,jdbcType=VARCHAR}
  </update>
</mapper>