<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cfw.biz.sys.dao.SysRoleModuleMapper" >
  <resultMap id="BaseResultMap" type="org.cfw.biz.sys.model.SysRoleModule" >
    <id column="MODULEID" property="moduleid" jdbcType="VARCHAR" />
    <id column="ROLEID" property="roleid" jdbcType="DECIMAL" />
    <result column="MASK" property="mask" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MODULEID, ROLEID, MASK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.cfw.biz.sys.model.SysRoleModuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CFW.SYS_ROLEMODULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="org.cfw.biz.sys.model.SysRoleModuleKey" >
    select 
    <include refid="Base_Column_List" />
    from CFW.SYS_ROLEMODULE
    where MODULEID = #{moduleid,jdbcType=VARCHAR}
      and ROLEID = #{roleid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.cfw.biz.sys.model.SysRoleModuleKey" >
    delete from CFW.SYS_ROLEMODULE
    where MODULEID = #{moduleid,jdbcType=VARCHAR}
      and ROLEID = #{roleid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="org.cfw.biz.sys.model.SysRoleModuleExample" >
    delete from CFW.SYS_ROLEMODULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.cfw.biz.sys.model.SysRoleModule" >
    insert into CFW.SYS_ROLEMODULE (MODULEID, ROLEID, MASK
      )
    values (#{moduleid,jdbcType=VARCHAR}, #{roleid,jdbcType=DECIMAL}, #{mask,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.cfw.biz.sys.model.SysRoleModule" >
    insert into CFW.SYS_ROLEMODULE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleid != null" >
        MODULEID,
      </if>
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="mask != null" >
        MASK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleid != null" >
        #{moduleid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="mask != null" >
        #{mask,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.cfw.biz.sys.model.SysRoleModuleExample" resultType="java.lang.Integer" >
    select count(*) from CFW.SYS_ROLEMODULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CFW.SYS_ROLEMODULE
    <set >
      <if test="record.moduleid != null" >
        MODULEID = #{record.moduleid,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null" >
        ROLEID = #{record.roleid,jdbcType=DECIMAL},
      </if>
      <if test="record.mask != null" >
        MASK = #{record.mask,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CFW.SYS_ROLEMODULE
    set MODULEID = #{record.moduleid,jdbcType=VARCHAR},
      ROLEID = #{record.roleid,jdbcType=DECIMAL},
      MASK = #{record.mask,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.cfw.biz.sys.model.SysRoleModule" >
    update CFW.SYS_ROLEMODULE
    <set >
      <if test="mask != null" >
        MASK = #{mask,jdbcType=DECIMAL},
      </if>
    </set>
    where MODULEID = #{moduleid,jdbcType=VARCHAR}
      and ROLEID = #{roleid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.cfw.biz.sys.model.SysRoleModule" >
    update CFW.SYS_ROLEMODULE
    set MASK = #{mask,jdbcType=DECIMAL}
    where MODULEID = #{moduleid,jdbcType=VARCHAR}
      and ROLEID = #{roleid,jdbcType=DECIMAL}
  </update>
  
  
  <resultMap id="ModuledefMap" type="org.cfw.biz.sys.model.SysModuledef" >
    <id column="MODULEID" property="moduleid" jdbcType="VARCHAR" />
    <result column="SYSTEMID" property="systemid" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="MASK" property="mask" jdbcType="DECIMAL" />
    <result column="IPGROUPID" property="ipgroupid" jdbcType="DECIMAL" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="PARENTMODULEID" property="parentmoduleid" jdbcType="VARCHAR" />
    <result column="SORTNO" property="sortno" jdbcType="DECIMAL" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectModuledefByRoleID" resultMap="ModuledefMap" parameterType="java.lang.Short" >
    select moduledef.MODULEID, moduledef.SYSTEMID, moduledef.NAME, rolemodule.MASK, moduledef.IPGROUPID, moduledef.URL, moduledef.PARENTMODULEID, moduledef.SORTNO, moduledef.ICON, moduledef.NOTE
    from CFW.SYS_MODULEDEF moduledef,CFW.SYS_ROLEMODULE rolemodule
    where rolemodule.MODULEID = moduledef.MODULEID
    and   rolemodule.MASK > 0
    and	  rolemodule.ROLEID = #{roleid,jdbcType=DECIMAL}
  </select>
</mapper>