@CHARSET "UTF-8";
.POB_COMPANY {
    background-image:url(../images/tree-icons/tree_fj1.gif) !important;
}
.POB_BUREAU {
    background-image:url(../images/tree-icons/tree_fj.gif) !important;
}
.POB_SUBSTATION {
    background-image:url(../images/tree-icons/tree_bdz.gif) !important;
}
.POB_POWERSUPPLY {
    background-image:url(../images/tree-icons/tree_gds.gif) !important;
}
.POB_PLANT {
    background-image:url(../images/tree-icons/tree_fdc.gif) !important;
}
.POB_CUSTOMER {
    background-image:url(../images/tree-icons/tree_dyh.gif) !important;
}
.POB_TAIQU {
    background-image:url(../images/tree-icons/tree_pub.gif) !important;
}
.POB_DISTRAN {
    background-image:url(../images/tree-icons/tree_pub.gif) !important;
}
.POB_RTU {
    background-image:url(../images/tree-icons/tree_zd.gif) !important;
}
.POB_BUS {
    background-image:url(../images/tree-icons/tree_mx.gif) !important;
}
.POB_TRANSFORMER {
    background-image:url(../images/tree-icons/tree_byq.gif) !important;
}
.POB_CONNECTLINE {
    background-image:url(../images/tree-icons/tree_llx.gif) !important;
}
.POB_LINE {
    background-image:url(../images/tree-icons/tree_xl.gif) !important;
}
.POB_DEPARTMENT {
    background-image:url(../images/tree-icons/mbi_031.gif) !important;
}
.POB_POINT {
    background-image:url(../images/tree-icons/01.png) !important;
}
.POB_LOWRTU {
    background-image:url(../images/tree-icons/001.png) !important;
}


.CUSTOMER_GROUP {
    background-image:url(../images/tree-icons/customer_group.png) !important;
}
.RTU_GROUP {
    background-image:url(../images/tree-icons/rtu_group.png) !important;
}
.POINT_GROUP {
    background-image:url(../images/tree-icons/point_group.png) !important;
}
.CF_GROUP {
    background-image:url(../images/tree-icons/cfgroup.png) !important;
}
.JJCF_GROUP {
    background-image:url(../images/tree-icons/jjcf_group.png) !important;
}
.SET_GROUP {
    
}

.online  a span {
    color:#0000FF;
}
.offline  a span{
    color:#FF0000;
}
.poweroff a span {
    color:#000000;
}
