@CHARSET "UTF-8";
.submenu {
    background-image:url(../images/menu-icons/submenu.gif) !important;
}
.ygd {
	 background-image:url(../images/menu-icons/ygd.png) !important;
}
.cssz {
    background-image:url(../images/menu-icons/cssz.png) !important;
}
.yxwh {
    background-image:url(../images/menu-icons/yxwh.png) !important;
}
.cbsj {
    background-image:url(../images/menu-icons/cbsj.png) !important;
}
.dlfx {
    background-image:url(../images/menu-icons/dlfx.png) !important;
}
.fhfx {
    background-image:url(../images/menu-icons/fhfx.png) !important;
}
.cfgl {
    background-image:url(../images/menu-icons/cfgl.png) !important;
}
.sxfx {
    background-image:url(../images/menu-icons/sxfx.png) !important;
}
.xsgl {
    background-image:url(../images/menu-icons/xsgl.png) !important;
}
.gdzl {
    background-image:url(../images/menu-icons/gdzl.png) !important;
}
.yzyd {
    background-image:url(../images/menu-icons/yzyd.png) !important;
}
.xtgl {
    background-image:url(../images/menu-icons/xtgl.png) !important;
}
.bbgl {
    background-image:url(../images/menu-icons/bbgl.png) !important;
}
